/* ids have the hash symbol*/

body {
  font-family: sans-serif;
  /* We place our background image and then say no repeat so when the image runs out*/
  /* it doesnt repeat itself eg the image is shown in 3 or 4 squares.*/
  background: url('../imgs/fire.jpeg') no-repeat center center fixed;
  /*Here we are specifying in certain browsers as well as a default fall back that this image will be the cover*/
  /*Basically you can stretch the page as much as you want but this will always be the background*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#heading {
  padding: 42px;
  background: white;
  border: 7px solid red;
}


/* So here we are calling our ids*/
#page-title {
  font-family: sans-serif;
  color: red;
}

/* Here we are calling our class*/
.content {
  font-family: sans-serif;
  font-size: 1em;
  background: white;
  border-left: 10px solid #ab3939;
  border-right: 10px solid #ab3939;
  border-bottom: 10px solid #ab3939;
  /*We can hard code in the value*/
  height: 150px;

}

.heading3 {
  background: white;
  font-size: 2em;

}

#divone {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* Or we can put in a percentage of the screen value. This is obviouslly the more flexible option.*/
  width: 40%;
}
